<?xml version='1.0' encoding='utf-8'?>
<widget defaultlocale="en" id="org.etive.city4age.app" version="0.5.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>City4Age</name>
    <description>
        An app that detects Eddystone beacons and sends proximity info to the City4Age Repository.
    </description>
    <author email="p.crooks@etive.org" href="http://www.etive.org">
        Etive City4Age Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="https://c4a.etive.org:8443" />
    <allow-navigation href="http://c4a.etive.org:8080" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="HideKeyboardFormAccessoryBar" value="true" />
    <platform name="android">
        <preference name="KeepRunning" value="true" />
        <preference name="android-minSdkVersion" value="21" />
        <preference name="android-targetSdkVersion" value="24" />
    </platform>
    <platform name="ios">
        <preference name="BackupWebStorage" value="none" />
    </platform>
    <engine name="android" spec="^6.3.0" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-file" spec="^4.3.3" />
    <plugin name="cordova-plugin-android-permissions" spec="^1.0.0" />
    <plugin name="cordova-plugin-app-version" spec="^0.1.9" />
    <plugin name="cordova-plugin-autostart" spec="^2.0.1" />
    <plugin name="cordova-plugin-background-mode" spec="^0.7.2" />
    <plugin name="cordova-plugin-device" spec="^1.1.7" />
    <plugin name="cordova-plugin-dialogs" spec="^1.3.4" />
    <plugin name="cordova-plugin-mauron85-background-geolocation" spec="^2.3.3" />
    <plugin name="cordova-plugin-network-information" spec="^1.3.4" />
</widget>
