<?xml version='1.0' encoding='utf-8'?>
<widget defaultlocale="en" id="org.etive.city4age.app" version="0.3.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>City4Age</name>
    <description>
        An app that detects Eddystone beacons and sends proximity info to the City4Age Repository.
    </description>
    <author email="p.crooks@etive.org" href="http://www.etive.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="HideKeyboardFormAccessoryBar" value="true" />
    <platform name="android">
        <preference name="KeepRunning" value="true" />
        <preference name="android-minSdkVersion" value="19" />
        <preference name="android-targetSdkVersion" value="24" />
    </platform>
    <platform name="ios">
        <preference name="BackupWebStorage" value="none" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
</widget>
